<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name = "format-detection" content = "telephone=no">
	<title>天猫国际</title>
	<link rel="stylesheet" href="__CSS__/swiper.min.css"/>
	<link rel="stylesheet" href="__CSS__/css.css"/>
	<script src="__JS__/jquery-2.1.0.js"></script>
	<script src="__JS__/swiper.min.js"></script>
</head>
<body>
<div class="header">
	邀请好友
	<a onclick="window.history.go(-1)">
		<img src="__IMG__/back.png"/>
	</a>
</div>
<div class="home homea">
	<div class="img">
		<img  src="{:url('notice/ewm',array('uid'=>$uid))}" alt="" />
	</div>
	<!--<div class="gree fend">-->
		<!--<p>邀请链接</p>-->
		<!--<p>-->
			<!--<span>{$url}</span>-->
		<!--</p>-->
	<!--</div>-->
	<div class="gree fend">
		<p>温馨提示：</p>
		<p>
			<span>1.长按图片，保存手机相册，分享给朋友</span>
			<span>2.分享朋友，还可以找客服领取福利哦</span>
		</p>
	</div>
</div>
{include file="common/nav" /}
</body>
<script>
</script>
</html>