{extend name="common:base" /}
{block name="css"}
<!--pickers css-->
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datepicker/css/datepicker-custom.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-timepicker/css/timepicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-colorpicker/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-daterangepicker/daterangepicker-bs3.css" />
<link rel="stylesheet" type="text/css" href="__JS__/bootstrap-datetimepicker/css/datetimepicker-custom.css" />
<style>
    .aaa:hover{
        transform: scale(1.5);
    }
</style>
{/block}
{block name="main"}
<!--body wrapper start-->
<div class="wrapper">
    <div class="pull-left">
        <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb panel">
                <li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> 控制台</a></li>
                <li><a href="{:url('index')}">会员管理</a></li>
                <li class="active">推广/代理信息</li>
                <li>总计({$count}人)</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <div class="panel-body">
                    <form class="ids" action="{:url('del')}" method="post">
                        <table class="table">
                            <thead>
                            <tr>
                                <!--<th><input class="check-all" type="checkbox"/></th>-->
                                <th>玩家ID</th>
                                <th>头像</th>
                                <th>电话</th>
                                <th>昵称</th>
                                <th>余额</th>
                                <th>佣金</th>
                                <th>等级</th>
                                <th>用户备注</th>
                                <th>注册时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name='list' id='v'}
                            <tr>
                                <!--<td><input class="ids" type="checkbox" value="{$v.id}" name="ids[]"/></td>-->
                                <td>{$v.id}</td>
                                <td>
                                    {if $v.head}
                                    <img style="border-radius: 50%" width="50" src="{$v.head}" class="aaa">
                                    {else/}
                                    无
                                    {/if}
                                </td>
                                <td>{$v.mobile}</td>
                                <td>{$v.nickname}</td>
                                <td>{$v.money}</td>
                                <td>{$v.m_status|default='无'}</td>
                                <td>{$v.level}级</td>
                                <td>{$v.remark}</td>
                                <td>{$v.create_at|date="Y-m-d H:i:s",###}</td>
                            </tr>
                            {/volist}

                            </tbody>
                        </table>
                    </form>

                    <!--<a href="{:url('del')}" class="btn btn-sm btn-primary ajax-post confirm" target-form="ids">批量删除</a>-->

                </div>
            </section>
        </div>

    </div>
</div>
<!--body wrapper end-->
<script type="text/javascript">

</script>
{/block}
<!-- modal -->
{block name="js"}
<!--pickers plugins-->
<script type="text/javascript" src="__JS__/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="__JS__/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

<!--pickers initialization-->
<script src="__JS__/pickers-init.js"></script>
{/block}
